
@using WebFactory.Framework;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*@WebFactory.Css.Grid(10, 10)*@

    @{
        Tag tag = new Tag("fajowiejfmp");
        tag.AddComponent(new WebDemo.Controllers.TestComp());
        Html.Raw(tag.Render());
    }

</head>
<body>

</body>
</html>

@functions {


}
