
@using WebFactory.Framework;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*@WebFactory.Css.Grid(10, 10)*@



</head>
<body>
    
    @myTag()

    tes
</body>
</html>

@functions {

    static Tag tag = new Tag("fajowiejfmp");

    public static IHtmlString myTag() {
        tag.AddComponent(new WebDemo.Controllers.Text("Hello"));
        return new HtmlString(tag.Render());
    }

}
